.navbar-store {
    padding-top: 15px;

    @include media-breakpoint-down(md) {
        background-color: #fff !important;
    }

    .nav-item {
        .nav-link {
            @include media-breakpoint-up(lg) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .profile-picture {
        max-height: 45px;
    }

    .cart-badge {
        display: inline-block;
        min-width: 2em; /* em unit */
        padding: 0.3em; /* em unit */
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        background: #dc7457;
        color: #fefefe;
        margin-left: -10px;
    }
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}
