.component-categories {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px 30px 10px 30px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        text-decoration: none;
    }

    .categories-text {
        color: #0c0d36;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        margin-top: 12px;
    }
}
